* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(240, 240, 240);
}

button {
  border: 0;
  background-color: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
}

.main-wrapper {
  padding-top: 1rem;
}

.heading {
  text-align: center;
  padding-bottom: 1rem;
}

.calculator-wrapper {
  max-width: 400px;
}

.calculator-inner {
  background-color: rgb(150, 150, 150);
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  word-wrap: break-word;
}

.display {
  display: block;
  background: rgb(240, 240, 240);
  border: 1px solid black;
  padding: 1rem 0.5rem;
  margin-bottom: 20px;
  border-radius: 10px;
}

.display-top-wrapper {
  min-height: 2rem;
  font-size: 1.3rem;
  text-align: end;
}

.display-main-wrapper {
  min-height: 2.5rem;
  max-width: 100%;
  text-align: end;
}

.calculator-controls {
  background-color: rgb(240, 240, 240);
  display: grid;
  height: 28rem;
  width: 22rem;
  gap: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 2fr);
  padding: 1rem;
  justify-content: center;
  line-height: inherit;
  border-radius: 10px;
  border: 1px solid black;
}

.calculator-controls > div {
  border: 2px solid black;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50%;
}

#equal-sign-wrapper {
  grid-column: 3/5;
  border-radius: 2rem;
}

.calc-function {
  background-color: silver;
  font-size: 1.1rem;
}

.calc-operator,
#equalsSign {
  background-color: orange;
  font-size: 1.5rem;
}

.calc-number,
#point {
  background-color: rgb(100, 100, 100);
  color: white;
  font-size: 1.5rem;
}

#signChange::before {
  content: "±";
  font-size: 1.5rem;
}

#divSign::before {
  content: "÷";
}

#mulSign::before {
  content: "×";
}

/* button:hover{background-color: ;} */
