* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.main-wrapper {
  padding-top: 1rem;
}

.heading {
  text-align: center;
  padding-bottom: 1rem;
}

.calculator-wrapper {
  display: flex;
  justify-content: center;
}

.display {
  display: block;
  padding: 1rem 0.5rem;
  border: 2px solid beige;
}

.display-top-wrapper {
  min-height: 2rem;
  font-size: 1.3rem;
  text-align: end;
}

.display-main-wrapper {
  min-height: 2.5rem;
  text-align: end;
}

.calculator-controls {
  background-color: beige;
  display: grid;
  height: 28rem;
  width: 22rem;
  gap: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 2fr);
  padding: 1rem;
  justify-content: center;
  line-height: inherit;
}

.calculator-controls > div {
  border: 2px solid black;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50%;
}

#equal-sign-wrapper {
  grid-column: 3/5;
  border-radius: 2rem;
}

.calc-function {
  background-color: silver;
}

.calc-operator {
  background-color: green;
}

/* button:hover{background-color: ;} */
